input[type="text"]{
    width: 40px;
    margin-left: 30px;
}

input[type="date"]{
    margin-left: 20px;
    margin-right: 10px;
    background-color: white;

}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90px;
}

#set{
    margin-left: 20px;
    margin-top: 0px;
}



table{
    margin-top: 30px;
    margin-left: 10px;
}



.last{
    margin-left: 40px;
}

#reset{
    margin-top: 0;
    margin-left: 20px;
}
.container-fluid{
    margin-left: 20px;
}
